<%= form_for(@profiles) do |f| %>
  <% if @profiles.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@profiles.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
      <% @profiles.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <div class="panel panel-teal">
      <div class="panel-heading">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :about_me %><br>
    <%= f.text_area :about_me %>
  </div>
  <!-- <div class="field">
    <%= f.label :profile_image %><br>
    <%= f.number_field :profile_image_id %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
