<div class="container">
  <div class="row">
    <div class="col-lg-12 text-center bordering">
      <h2 class="section-heading f coral title">Start Drinking!</h2>
    </div>
  </div>
  <div class="col-lg-12 text-center">
    <p><%= @profile.name %></p>
    <p><%= @profile.age %></p>
    <p><%= @profile.about_me %></p>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-lg-6 text-center">
      <%= link_to martini_profiles_path do %>
        <%= image_tag "martini.png" %>
      <% end %>
    </div>

    <div class="col-lg-6 text-center">
      <%= link_to coffee_profiles_path do %>
        <%= image_tag "coffee.jpg" %>
      <% end %>
    </div>
  </div>
</div>
