<p id="notice"><%= notice %></p>

<div class="row">
<div class="col-lg-6">
<p>
  <strong>Name:</strong>
  <%= @profiles.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profiles.age %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profiles.about_me %>
</p>

<p>
  <strong>Profile image:</strong>
  nil
</p>

<p>
  <strong>User:</strong>
  <%= current_user.email %>
</p>
</div>
</div>

<%= link_to 'Edit', edit_profile_path(@profiles) %> |
<%= link_to 'Back', profiles_path %>
