<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @profiles.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @profiles.age %>
</p>

<p>
  <strong>About me:</strong>
  <%= @profiles.about_me %>
</p>

<p>
  <strong>Profile image:</strong>
  <%= @profiles.profile_image_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @profiles.user_id %>
</p>

<%= link_to 'Edit', edit_profile_path(@profiles) %> |
<%= link_to 'Back', profiles_path %>
